:root {
    --background-accent: rgb(45, 103, 150);
}

body{
    height:100%;
    display: grid;
    justify-items: center;
    margin:0;
    padding:0;
}

button:hover{
    cursor: pointer;
}

.main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.background-decoration-top
{
    width: 200vw;
    height: 80%;
    position: absolute;
    background-color: var(--background-accent);  
    transform-origin: bottom;
    transform: translate(0, -50%) rotate(-15deg) ;
    z-index: -1;
}

.about-container
{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
    margin: 5% 5% 0% 5%;
    position: relative;
    align-content: center;
}

.about-image
{
    width:100%;
    height:auto;
    min-width:600px;
    z-index: 2;
    background-image: url("assets/coffee.jpg");
    aspect-ratio: 6 / 4;
    background-size: cover;
    position:relative;
}


.image-name
{
    position: absolute;
    bottom: 0;
    left: 0;
    margin:5%;
    color: white;
    font-size: 4em;
}

.about-information
{
    background-color: white;
    box-shadow: 4px 4px 4px rgba(80, 79, 79, 0.589);
    height:80%;
    transform: translateX(-1%) translateY(10%);
    padding-left: 5%;
    min-height: none;
    display: block;
}

.about-content
{
    width:100%;
    height:50%;
    font-size: small;
    margin: 0;
}


.about-links
{
    position:absolute;
    left: auto;
    bottom: 0;
    right: 0;
    display: flex;
    gap:16px;
    margin-bottom: 2%;
    margin-right: 2%;
    width:fit-content;
    justify-content: center;

}

.link-button
{
    aspect-ratio: 1 / 1;
    min-width: 40px;
    width:10%;
    background-size: cover;
    background-color: transparent;
    border:none;
}

.button-github
{
    background-image: url("assets/github.png");
}

.button-linkedin
{
    background-image: url("assets/linkedin.png");
}

.button-twitter
{
    background-image: url("assets/twitter.png");
}

.button-redirect
{
    background-image: url("assets/redirect.png");
}

.content{
    margin: 5% 15%;
    margin-top: 5%;
    width: 100%;
    max-width: 1200px;
}

.content-title
{
    color: rgb(189, 189, 189);
    font-size: 3em;
    border-bottom: 2px solid black;
    padding-left:5%;
    /*text-shadow: -1px 0 rgb(73, 73, 73), 0 1px black, 1px 0 black, 0 -1px black;
    */
}

.project-container
{  
    min-height: fit-content;
    gap: 32px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}

.project
{
    min-width: 400px;
    aspect-ratio: 1 / 1;
    background-color: aliceblue;
    width:400px;
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.project-image
{
    grid-row: 1/2;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url("assets/not-found.jpg");
    background-size: cover;
    color:white
}

.project-information
{
    padding: 16px;
}

.project-header
{
    display: flex;
}

.project-links
{
    margin-left:auto;
    margin-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:8px;
}


.footer
{
    background-color: var(--background-accent);
    width:100vw;
    height:600px;
    color: white;
    display: grid;
    justify-content: center;
    padding:50px;
    margin-top: auto;
}

.footer-content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1200px;
    height:inherit;
}

.footer-information
{
    margin-right: 16px;
    position: relative;
    width: 100%;
}

.footer-links
{  
    position: absolute;
    bottom: 20%;
    width: inherit;
    justify-content: center;
    display: flex;
    gap: 5%;
}

.footer-image
{
    width: auto;
    height:inherit;
    aspect-ratio: 6 / 9;
    background-image: url("assets/contact-coffee.jpg");
    background-size: cover;
}

@media(max-width: 1300px)
{
    .about-container
    {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
    }

    .about-information
    {
        min-height: 300px;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        height: fit-content;

        
    }

    .about-links
    {    
        left: 0px;
        right: auto;
        width: 100%;
        margin-right: 0;
    }

    .about-content
    {
        font-size: large;
        margin-bottom: 25%;
    }

    .about-image
    {
        background-image: url("assets/coffee_mobile.jpg");
        aspect-ratio: 6 / 9;
        max-width: 40%;
        justify-self: center;

        
    }

    .project-container
    {
        grid-template-columns: 1fr;
    }

    .footer
    {    
        width: auto;
        height: fit-content;
    }

    .footer-content
    {    
        grid-template-columns: 1fr;
        grid-template-rows: 500px 400px;
    }

    .footer-image
    {
        justify-self: center;
        height: 100%;
    }
}